[user]
	name = alillevangbech
	email = alexanderlillevangbech@gmail.com

[core]
	autocrlf = false
[merge]
	tool = vimdiff
	conflictstyle = diff3

[mergetool]
	prompt = false

[init]
	defaultBranch = master
